# my preferred building method
build.sh
Makefile

# LSP settings
.clangd
.luarc.json

# build directory
build

# executable
a.out

# dotenv file
.env

# test media files
*.mkv
*.wav
*.webm

# debug frame output files
frames/

# lua scripts (currently private)
lua/scripts/

